<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 col-md-offset-12">
      <div class="card text">
            <tabset>
                    <tab heading="Distribution & Allocation">
                            <div class="card text">
                                  <div class="card-header text-center">
                                          <strong>Vaccines Orders</strong>
                                          <small> </small>
                                        </div>
                                        
                                        <div class="card-body">
                                
                                        <div class="container-note">
                                            <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                                                <thead>
                                                <tr>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="OrderID"> Order Number</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="facility"> Facility Name</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="antigenType">Antigen type</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="dosesamount">Amount of Doses</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="requesterEmail">Requestor Email</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="extradescription"> Extra Description</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="dateCreated">DateCreated</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                        <mfDefaultSorter by="allocate">Allocate</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 17%">
                                                            <mfDefaultSorter by="distribute">Distibute</mfDefaultSorter>
                                                        </th>
                                                   
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let item of mf.data">
                                                    <td>{{item.orderID}}</td>
                                                    <td>{{item.facility}}</td>
                                                    <td>{{item.antigenType}}</td>
                                                    <td>{{item.dateCreated}}</td>
                                                    <td>{{item.active}}</td>
                                                    <td>
                                                        <button class = "btn btn-primary px-4" type="button" (click) = "allocate(item.orderID)">Allocate</button>
                                                    </td>
                                                  
                                                    <td>
                                                        <button class = "btn btn-danger px-4" type="button" (click) = "distribute(item.distributionID)">Distibute</button>
                                                     </td>
                                                    
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="4">
                                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                         </div>
                                    
                                        </div>
                            </div>
                          </tab>     
                <tab heading="Requisition">
                      <div class="card text">
                            <div class="card-header text-center">
                                    <strong>Requisition S11</strong>
                                    <small> Forms</small>
                                  </div>
                                  
                                  <div class="card-body">
                          
                                  <div class="container-note">
                                      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                                          <thead>
                                          <tr>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="requisitionID"> Requisition Number</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="facility"> Facility Name</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="antigenType">Antigen type</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="dosesamount">Doses Amount Requested</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="requesterEmail">Requestor Email</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="extradescription"> Extra Description</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="dateCreated">DateCreated</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                              </th>
                                              <th style="width: 17%">
                                                  <mfDefaultSorter by="approve">Approve Collection</mfDefaultSorter>
                                              </th>
                                             
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr *ngFor="let item of mf.data">
                                              <td>{{item.requisitionID}}</td>
                                              <td>{{item.facility}}</td>
                                              <td>{{item.antigenType}}</td>
                                              <td>{{item.dateCreated}}</td>
                                              <td>{{item.active}}</td>
                                              <td>
                                                  <button class = "btn btn-primary px-4" type="button" (click) = "approve(item.requisitionID)">Approve Collection</button>
                                              </td>
                                              
                                          </tr>
                                          </tbody>
                                          <tfoot>
                                          <tr>
                                              <td colspan="4">
                                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                              </td>
                                          </tr>
                                          </tfoot>
                                      </table>
                                   </div>
                              
                                  </div>
                      </div>
                    </tab>    
            </tabset>
      </div>
    </div><!--/.col-->
  </div>
</div>
