
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 center">
              
            <div class="card">
                  <div class="card-header">
                      <strong>Vaccine Order</strong> Sheet
                    </div>
                    <div class="card-body">
                      <form [formGroup]="rForm" (ngSubmit)="partOne(rForm.value)">
                        
                          <div class="form-group">
                              <label for="facilityname">Facility Name</label>
                              <input type="text" class="form-control" id="healthfacilityname" placeholder="Enter Facility Name" formControlName="facilityname" required>
                              <div *ngIf="!rForm.controls['facilityname'].valid && rForm.controls['facilityname'].touched" class="alert1">Facilityname is Required!</div>
                            </div>
                         
                          <div class="form-group">
                            <label for="lastorderdate">Last Order Date</label>
                              <input class="form-control" id="lastorderdate" type="date" name="date-input" placeholder="date" formControlName="lastorderdate" required>
                              <div *ngIf="!rForm.controls['lastorderdate'].valid && rForm.controls['lastorderdate'].touched" class="alert1">lastorderdate is Required!</div>
                            </div>
                                
                          <div class="form-group">
                            <label for="currentOrderdate">Current Order Date</label>
                              <input class="form-control" id="currentOrderdate" type="date" name="date-input" placeholder="date" formControlName="currentOrderdate" required>    
                              <div *ngIf="!rForm.controls['currentOrderdate'].valid && rForm.controls['currentOrderdate'].touched" class="alert1">currentOrderdate is Required!</div>   
                            </div>
                     
                          <div class="form-group">
                            <label for="nextOrderdate"> Next Order Date</label>
                              <input class="form-control" id="nextOrderdate" type="date" name="date-input" placeholder="date" formControlName="nextOrderdate" required>
                              <div *ngIf="!rForm.controls['nextOrderdate'].valid && rForm.controls['nextOrderdate'].touched" class="alert1">nextOrderdate is Required!</div>
                            </div>
                         
                          <div class="form-group">
                            <label for="totalPopulation">Total Population</label>
                              <input type="text" class="form-control" id="totalPopulation" placeholder="Enter total population " formControlName="totalPopulation" required>
                              <div *ngIf="!rForm.controls['totalPopulation'].valid && rForm.controls['totalPopulation'].touched" class="alert1">totalPopulation is Required!</div>
                            </div>

                          <div class="form-group">
                            <label for="childrenUnderOne">Children Under One Yr</label>
                              <input type="text" class="form-control" id="childrenUnderOne" placeholder=" Enter the Number of Children Under One Yr" formControlName="childrenUnderOne" required> 
                              <div *ngIf="!rForm.controls['childrenUnderOne'].valid && rForm.controls['childrenUnderOne'].touched" class="alert1">childrenUnderOne is Required!</div>
                          </div>

                          <div class="form-group">
                            <label for="pregnantwomen">Pregnant Women</label>
                            <input type="text" class="form-control" id="pregnantwomen" placeholder=" Enter the Number Pregnant Women" formControlName="pregnantwomen" required> 
                            <div *ngIf="!rForm.controls['pregnantwomen'].valid && rForm.controls['pregnantwomen'].touched" class="alert1">Pregnant Women is Required!</div>
                          </div>

                          <div class="input-group mb-4">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-chart"></i></span>
                              </div>
                              <select class="form-control" placeholder="Antigen Type" autocomplete="antigentype" formControlName="antigentype" required>
                                <option value="">Choose Antigen Type</option>
                                <option value="polio">Polio</option>
                                <option value="tb">TuberCulosis</option>
                                <option value="bcg">BCG</option>
                                <option value="measles">Measles</option>
                                <option value="tetanus">Tetanus</option>
                                <option value="yellowfever">Yellow Fever</option>
                                <option value="dptHepBHibr">Dpt-HepB+Hib</option>
                                <option value="whoopingCough">Whooping cough</option>
                              
                              </select>
                              <!-- <div *ngIf="!rForm.controls['antigentype'].valid && rForm.controls['antigentype'].touched" class="alert1"> Antigentype is Required!</div> -->
                            </div>

                          <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="maximum">Maximum Stock in Doses</label>
                                <input type="text" class="form-control" id="county" placeholder="Enter your maximum">
                              </div>
                              <div class="form-group col-sm-6">
                                <div class="col-md-6">
                                  <label for="maximum">Calculate</label>
                                  <input type="button" class="btn btn-primary px-4" value="Calculate Maximum">
                                </div>
                                </div>
                            </div>

                          <div class="row">
                            <div class="form-group col-sm-6">
                              <label for="minimum">Minimum Stock in Doses</label>
                              <input type="text" class="form-control" id="county" placeholder="Enter your Minimum">
                            </div>
                            <div class="form-group col-sm-6">
                              <div class="col-md-6">
                                <label for="minimum">Calculate</label>
                                <input type="button" class="btn btn-primary px-4" value="Calculate Minimum">
                                </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="immunized">Immunized Children since last order</label>
                            <input type="text" class="form-control" id="immunized" placeholder="Enter the number of Immunized Children">
                          </div>

                          <div class="form-group">
                            <label for="stockAvailable">Stock Available</label>
                            <input type="text" class="form-control" id="stockAvailable" placeholder="Enter Amount in Doses">
                          </div>

                          <div class="form-group">
                              <label for="batchID">Batch ID</label>
                              <input type="text" class="form-control" id="batchID" placeholder="Enter Vaccine batchID">
                            </div>

                          <div class="form-group">
                              <label for="expirydate">Expiry Date</label>
                              <input type="text" class="form-control" id="expirydate" placeholder="Enter the batch expiry date">
                          </div>

                          <div class="row">
                            <div class="form-group">
                              <label for="orderAmount">Ordered Amount</label>
                              <input type="text" class="form-control" id="orderAmount" placeholder="Enter the ordered Amount">
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="col-md-6">
                                  <label for="orderAmount">Calculate</label>
                                  <input type="button" class="btn btn-primary px-4" value="Calculate amount to order">
                                </div>
                              </div>
                          </div>

                        <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">SUBMIT</button>
                        <div class="loading-right">
                          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                      </form>

                    </div>
              </div>
           
    </div>
    
    
    
   
  </div>
</div>
