  <!-- page content -->
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Order Vaccine</span>
                        <div class="count blue" >Forecast</div>
                        <span class="count_bottom"><i class="green"></i>View Forecast</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/forecast"> click here </a>
                         </div>
                      </span>
                    </div>

                   
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Procurement</span>
                        <div class="count blue"> Procurement </div>
                        <span class="count_bottom"><i class="green"></i>View Procurement</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/procurement"> click here </a>
                         </div>
                      </span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Clearance</span>
                        <div class="count blue"> Clearance </div>
                        <span class="count_bottom"><i class="green"></i> View Clearance</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue"  routerLink="/404"> click here </a>
                         </div>
                      </span>
                    </div>
                </div>
                <!-- /top tiles -->

                 <!-- second tiles -->
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Allocation & Distribution</span>
                        <div class="count blue">Allocation</div>
                        <span class="count_bottom"><i class="green"></i>View Allocation</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue"  routerLink="/allocation">click here </a>
                         </div>
                      </span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Storage</span>
                        <div class="count blue">Storage </div>
                        <span class="count_bottom"><i class="green"></i>View Storage</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/storage"> click here </a>
                         </div>
                      </span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Inventory Management</span>
                        <div class="count blue">Inventory</div>
                        <span class="count_bottom"><i class="green"></i>View Inventory</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue"  routerLink="/inventory"> click here </a>
                         </div>
                      </span>
                    </div>

                </div>
                <!-- /second tiles -->

                 <!-- third tiles -->
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Reverse Logistics</span>
                        <div class="count blue">Logistics</div>
                        <span class="count_bottom"><i class="green"></i>View Logistics</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/contigency"> click here </a>
                         </div>
                      </span>
                    </div>

                   
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Maintenance</span>
                        <div class="count blue"> Maintenance </div>
                        <span class="count_bottom"><i class="green"></i>View Maintenance</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/404"> click here </a>
                         </div>
                      </span>
                    </div>
                </div>
                <!-- /third tiles -->

                <br />
            </div>
        </div>