  <!-- page content -->
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Register Users</span>
                        <div class="count blue" >Users</div>
                        <span class="count_bottom"><i class="green"></i> View Register Users</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/managenetwork/manageusers"> click here </a>
                         </div>
                      </span>
                    </div>

                   
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Manage Channels</span>
                        <div class="count blue"> Channels </div>
                        <span class="count_bottom"><i class="green"></i> View Manage Channels</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue" routerLink="/404"> click here </a>
                         </div>
                      </span>
                    </div>

                    
                    <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Manage Chaincodes</span>
                        <div class="count blue"> Chaincodes </div>
                        <span class="count_bottom"><i class="green"></i> View Manage Chaincodes</span>
                        <span class="count_bottom">
                        <div class="pull-right">
                          <a class="blue"  routerLink="/404"> click here </a>
                         </div>
                      </span>
                    </div>
                </div>
                <!-- /top tiles -->

                    <!-- second tiles -->
                <div class="row tile_count">

                  <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Manage Beacons</span>
                    <div class="count blue" >Beacons</div>
                    <span class="count_bottom"><i class="green"></i> View Register Beacons</span>
                    <span class="count_bottom">
                    <div class="pull-right">
                      <a class="blue" routerLink="/iot"> click here </a>
                     </div>
                  </span>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Manage Gateways</span>
                    <div class="count blue" >Gateways</div>
                    <span class="count_bottom"><i class="green"></i> View Register Gateways</span>
                    <span class="count_bottom">
                    <div class="pull-right">
                      <a class="blue" routerLink="/iot"> click here </a>
                     </div>
                  </span>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Block Explorer</span>
                    <div class="count blue" >Blocks</div>
                    <span class="count_bottom"><i class="green"></i> View Blocks</span>
                    <span class="count_bottom">
                    <div class="pull-right">
                      <a class="blue" routerLink="/404"> click here </a>
                     </div>
                  </span>
                </div>

                </div>

                <br />
                <br />
            </div>
        </div>