<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-md-offset-12">
        <div class="col-md-6 mb-4">
          <!-- Nav tabs -->
        <tabset>
            <tab heading="Procurement Order">
                <div class="card">
                    <div class="card-header">
                     <strong>Procurement</strong>
                          <small> Order</small>
                          </div>
                          <div class="card-body">
                            <form  >
                              <h1>Procurement Order Details</h1>
                              <p class="text-muted">Enter Details</p>
                              <!--IF ERROR-->
                            <!-- <div class="text-center text-danger">
                              <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                            </div> -->
            
                            <!--IF SUCCESS-->
                            <!-- <div class="text-center text-success">
                              <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                            </div> -->
                            <div class="row">
                              <div class="form-group">
                                <label for="procurementOrderID">Procurement-OrderID</label>
                                <input type="text" class="form-control" id="procurementOrderID" placeholder="Enter Procurement-OrderID">
                                <!-- <div *ngIf="!rForm.controls['procurementOrderID'].valid && rForm.controls['procurementOrderID'].touched" class="alert1"> Procurement-OrderID is Required!</div> -->
                              </div>
                
                              <div class="form-group col-sm-4">
                              <!-- <div class="col-md-4">
                                <label for="batchID">Scan</label>
                                <input type="button" class="btn btn-primary px-4" value="Scan QRcode">
                                
                              </div> -->
                              <!-- <div class="col-md-4">
                                  <label for="batchID">Query</label>
                                  <input type="button" class="btn btn-primary px-4" value="Query Vaccine">
                                  
                                  
                                </div> -->
                              
                              
                              
            
                              </div>
                            </div><!--/.row-->
                              <div class="form-group">
                                <label for="deliveryterms">Delivery terms</label>
                                <input type="text" class="form-control" id="deliveryterms" aria-describedby="deliveryterms" placeholder="Enter Delivery Terms">
                                 <!-- <div *ngIf="!rForm.controls['deliveryterms'].valid && rForm.controls['deliveryterms'].touched" class="alert1"> Delivery Terms Required!</div> -->
                              </div>
                              
                              <div class="form-group">
                                <label for="date">Issue Date</label>
                                <input type="text" class="form-control" id="date" placeholder="Issue Date">
                                 <!-- <div *ngIf="!rForm.controls['date'].valid && rForm.controls['date'].touched" class="alert1">Issue date is Required!</div> -->
                                
                              </div>
                              <div class="form-group">
                                  <label for="date">Delivery Date</label>
                                  <input type="text" class="form-control" id="date" placeholder="Issue Date">
                                   <!-- <div *ngIf="!rForm.controls['date'].valid && rForm.controls['date'].touched" class="alert1">Issue date is Required!</div> -->
                                  
                                </div>
                              
                             
                              <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" placeholder="Extra Info">
                              </div>
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <label for="unicef">Unicef</label>
                                  <input type="text" class="form-control" id="unicef" placeholder="Enter donors details">
                                  <!-- <div *ngIf="!rForm.controls['unicef'].valid && rForm.controls['unicef'].touched" class="alert1"> Donors' details Required!</div> -->
                                </div>
                  
                                <div class="form-group col-sm-6">
                                <div class="col-md-6">
                                  <label for="unicef">get Unicef Details</label>
                                  <input type="button" class="btn btn-primary px-4" value="Get Unicef details">
                                  
                                </div>
            
                                </div>
                              </div><!--/.row-->
                              <!-- <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="icon-chart"></i></span>
                                </div>
                                <select class="form-control" placeholder="Vaccine state" autocomplete="location" formControlName="state" required>
                                  <option value="">Choose</option>
                                  <option value="storage">Storage</option>
                                  <option value="transit">Transit</option>
                                  <option value="administer">Administer</option>
                                  <option value="waste">Wastage</option>
                                </select>
                                <div *ngIf="!rForm.controls['state'].valid && rForm.controls['state'].touched" class="alert1"> Vaccine State is Required!</div> -->
                              <!-- </div> -->
                              <!-- <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">Register Vaccine</button>
                              <div class="loading-right">
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                              </div> -->
                              <div class="row">
                                <div class="col-6">
                                  <button type="submit" class="btn btn-primary px-4" [disabled]="loading"  [disabled]="!rForm.valid" >Send Purchase Order</button>
                                </div>
                              </div>
                  
                            </form>
                          </div>
                        </div>
             </tab>
            <tab heading="Purchase Order">
              <div class="card">
                <div class="card-header">
                  <strong>Purchase</strong>
                  <small> Order</small>
                </div>
                <div class="card-body">
                  <form  >
                    <h1>Purchace Order Details</h1>
                    <p class="text-muted">Enter Details</p>
                    <!--IF ERROR-->
                  <!-- <div class="text-center text-danger">
                    <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                  </div> -->
  
                  <!--IF SUCCESS-->
                  <!-- <div class="text-center text-success">
                    <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                  </div> -->
                  <div class="row">
                    <div class="form-group">
                      <label for="pOrderID">Purchase-OrderID</label>
                      <input type="text" class="form-control" id="pOrderID" placeholder="Enter Purchase-OrderID">
                      <!-- <div *ngIf="!rForm.controls['pOrderID'].valid && rForm.controls['pOrderID'].touched" class="alert1"> Purchase-OrderID is Required!</div> -->
                    </div>
      
                    <div class="form-group col-sm-4">
                    <!-- <div class="col-md-4">
                      <label for="batchID">Scan</label>
                      <input type="button" class="btn btn-primary px-4" value="Scan QRcode">
                      
                    </div> -->
                    <!-- <div class="col-md-4">
                        <label for="batchID">Query</label>
                        <input type="button" class="btn btn-primary px-4" value="Query Vaccine">
                        
                        
                      </div> -->
                    
                    
                    
  
                    </div>
                  </div><!--/.row-->
                    <div class="form-group">
                      <label for="deliveryterms">Delivery terms</label>
                      <input type="text" class="form-control" id="deliveryterms" aria-describedby="deliveryterms" placeholder="Enter Delivery Terms">
                       <!-- <div *ngIf="!rForm.controls['deliveryterms'].valid && rForm.controls['deliveryterms'].touched" class="alert1"> Delivery Terms Required!</div> -->
                    </div>
                    
                    <div class="form-group">
                      <label for="date">Issue Date</label>
                      <input type="text" class="form-control" id="date" placeholder="Issue Date">
                       <!-- <div *ngIf="!rForm.controls['date'].valid && rForm.controls['date'].touched" class="alert1">Issue date is Required!</div> -->
                      
                    </div>
                    <div class="form-group">
                        <label for="date">Delivery Date</label>
                        <input type="text" class="form-control" id="date" placeholder="Issue Date">
                         <!-- <div *ngIf="!rForm.controls['date'].valid && rForm.controls['date'].touched" class="alert1">Issue date is Required!</div> -->
                        
                      </div>
                    
                   
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" class="form-control" id="description" placeholder="Extra Info">
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="unicef">Unicef</label>
                        <input type="text" class="form-control" id="unicef" placeholder="Enter donors details">
                        <!-- <div *ngIf="!rForm.controls['unicef'].valid && rForm.controls['unicef'].touched" class="alert1"> Donors' details Required!</div> -->
                      </div>
        
                      <div class="form-group col-sm-6">
                      <div class="col-md-6">
                        <label for="unicef">get Unicef Details</label>
                        <input type="button" class="btn btn-primary px-4" value="Get Unicef details">
                        
                      </div>
  
                      </div>
                    </div><!--/.row-->
                    <!-- <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-chart"></i></span>
                      </div>
                      <select class="form-control" placeholder="Vaccine state" autocomplete="location" formControlName="state" required>
                        <option value="">Choose</option>
                        <option value="storage">Storage</option>
                        <option value="transit">Transit</option>
                        <option value="administer">Administer</option>
                        <option value="waste">Wastage</option>
                      </select>
                      <div *ngIf="!rForm.controls['state'].valid && rForm.controls['state'].touched" class="alert1"> Vaccine State is Required!</div> -->
                    <!-- </div> -->
                    <!-- <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">Register Vaccine</button>
                    <div class="loading-right">
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div> -->
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="loading"  [disabled]="!rForm.valid" >Send Purchase Order</button>
                      </div>
                    </div>
        
                  </form>
                </div>
              </div>
            </tab>
            
        </tabset>
      </div><!--/.col-->
        
    </div>
  </div>
  
  