<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="rForm" (ngSubmit)="SignUp(rForm.value)">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>

                <!--IF ERROR-->
                <div class="text-center text-danger">
                  <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                </div>

                <!--IF SUCCESS-->
                <div class="text-center text-success">
                  <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" autocomplete="username" formControlName="username" required>
                  <div *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched" class="alert1">Username is Required!</div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email"  formControlName="email" required>
                  <div *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" class="alert1">Email is Required!</div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Phone" autocomplete="phone"  formControlName="phone" size="10" required>
                  <div *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched" class="alert1">Phone is Required!</div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"  formControlName="password" required>
                  <div *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched" class="alert1">Password is Required!</div>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-chart"></i></span>
                  </div>
                  <select class="form-control" placeholder="Location Level" autocomplete="location" formControlName="level" required>
                    <option value="">Choose</option>
                    <option value="national">National</option>
                    <option value="regional">Regional</option>
                    <option value="subcounty">Sub-County</option>
                    <option value="healthfacility">Health Facility</option>
                  </select>
                  <div *ngIf="!rForm.controls['level'].valid && rForm.controls['level'].touched" class="alert1">Level is Required!</div>
                </div>

                 <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-people"></i></span>
                  </div>
                  <select class="form-control" placeholder="Role" autocomplete="role" formControlName="role" required>
                    <option value="">Choose</option>
                    <option value="nvip">NVIP Worker</option>
                    <option value="primaryStoreManager">Primary Store Depot Manager</option>
                    <option value="logistician">National Logistician</option>
                    <option value="storeManager">Regional Depot Store</option>
                     <option value="healthworker">Health Worker</option>
                     <option value="healthManager">Health Manager</option>
                  </select>
                  <div *ngIf="!rForm.controls['role'].valid && rForm.controls['role'].touched" class="alert1">Role is Required!</div>
                </div>

                <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">Create Account</button>
                <div class="loading-right">
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-info" type="button" routerLink="/login"><span>Go Back to Login</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
