<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">

      <div class="category-list">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-vaccine-tab" data-toggle="pill" href="#pills-vaccine" role="tab" aria-controls="pills-vaccine" aria-selected="true">Register Vaccine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-beacon-tab" data-toggle="pill" href="#pills-beacon" role="tab" aria-controls="pills-beacon" aria-selected="false">Register Beacon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-driver-tab" data-toggle="pill" href="#pills-driver" role="tab" aria-controls="pills-driver" aria-selected="false">Register Driver</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-warehouse-tab" data-toggle="pill" href="#pills-warehouse" role="tab" aria-controls="pills-warehouse" aria-selected="false">Register Warehouse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="pills-transit-tab" data-toggle="pill" href="#pills-transit" role="tab" aria-controls="pills-transit" aria-selected="false">Assign Transit</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-vaccineStatus-tab" data-toggle="pill" href="#pills-vaccineStatus" role="tab" aria-controls="pills-vaccineStatus" aria-selected="false">Vaccine Status</a>
              </li>
         </ul>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-vaccine" role="tabpanel" aria-labelledby="pills-vaccine-tab">
                  <div class="card text">
                      <div class="card-header text-center">
                        <strong>Vaccine</strong>
                        <small> Form</small>
                      </div>
                      <div class="card-body">
                        <form [formGroup]="rForm" (ngSubmit)="Registervaccine(rForm.value)" >
                          <h1>Vaccine Details</h1>
                          <p class="text-muted">Enter Vaccine Details</p>
      
                          <!--IF ERROR-->
                        <div class="text-center text-danger">
                          <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                        </div>
        
                        <!--IF SUCCESS-->
                        <div class="text-center text-success">
                          <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                        </div>
      
                        <div class="form-group">
                            <label for="batchID">BatchID</label>
                            <input type="text" class="form-control" id="batchID" placeholder="Enter BatchID" formControlName="batchID" required>
                            <div *ngIf="!rForm.controls['batchID'].valid && rForm.controls['batchID'].touched" class="alert1"> BatchID is Required!</div>
                        </div>
      
                          <div class="form-group">
                            <label for="antigenType">AntigenType</label>
                            <input type="text" class="form-control" id="antigenType" aria-describedby="antigenType" placeholder="Enter AntigenType" formControlName="antigenType" required>
                             <div *ngIf="!rForm.controls['antigenType'].valid && rForm.controls['antigenType'].touched" class="alert1"> Vaccine Type is Required!</div>
                          </div>
                          
                          <div class="form-group">
                            <label for="manufacturer">Manufacturer</label>
                            <input type="text" class="form-control" id="manufacturer" placeholder="Enter Manufacturer's Details" formControlName="manufacturer" required>
                             <div *ngIf="!rForm.controls['manufacturer'].valid && rForm.controls['manufacturer'].touched" class="alert1"> Manufacturer is Required!</div>
                          </div>
      
                          <div class="form-group ">
                              <label for="expirydate">Expiry Date</label>
                              <input type="text" class="form-control" id="expirydate" placeholder="Enter the batch expiry date" formControlName="expirydate" required>
                              <div *ngIf="!rForm.controls['expirydate'].valid && rForm.controls['expirydate'].touched" class="alert1"> Expiry Date is Required!</div>
                           </div>
      
                          <div class="form-group">
                            <label for="beaconID">BeaconID</label>
                            <input type="text" class="form-control" placeholder="BeaconID" autocomplete="beaconID" formControlName="beaconID" required>
                            <div *ngIf="!rForm.controls['beaconID'].valid && rForm.controls['beaconID'].touched" class="alert1"> BatchID is Required!</div>
                          </div>
      
                          <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location" required>
                             <div *ngIf="!rForm.controls['location'].valid && rForm.controls['location'].touched" class="alert1"> Location is Required!</div>
                          </div>
      
                          <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="Extra Info" formControlName="description" required>
                          </div>

                          <div class="row">
                            <div class="form-group col-sm-6">
                              <label for="temperature">Temperature</label>
                              <input type="text" class="form-control" id="temperature" placeholder="Enter Temperature" formControlName="temperature" required>
                              <div *ngIf="!rForm.controls['temperature'].valid && rForm.controls['temperature'].touched" class="alert1"> Temperature is Required!</div>
                            </div>
              
                            <div class="form-group col-sm-6">
                            <div class="col-md-6">
                              <label for="temperature">Fetch Live Temperature</label>
                              <input type="button" class="btn btn-primary px-4" value="get temp">
                            </div>
                            </div>
                          </div><!--/.row-->
      
                          <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-chart"></i></span>
                            </div>
                            <select class="form-control" placeholder="Vaccine state" autocomplete="condition" formControlName="condition" required>
                              <option value="">Choose</option>
                              <option value="storage">Storage</option>
                              <option value="transit">Transit</option>
                              <option value="administer">Administer</option>
                            </select>
                            <div *ngIf="!rForm.controls['condition'].valid && rForm.controls['condition'].touched" class="alert1"> Vaccine State is Required!</div>
                        </div>
                     
                          <div class="row">
                            <div class="col-6">
                              <button type="submit" class="btn btn-primary px-4" [disabled]="loading"  [disabled]="!rForm.valid" >Submit</button>
                             <div class="loading-right">
                              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            </div>
                          </div>
              
                        </form>
                      </div>
                    </div>
              </div>

              <div class="tab-pane fade" id="pills-beacon" role="tabpanel" aria-labelledby="pills-beacon-tab">
                  <div class="card text">
                      <div class="card-header text-center">
                        <strong>Beacon</strong>
                        <small> Form</small>
                      </div>
                      <div class="card-body">
                        <form [formGroup]="rForm2" (ngSubmit)="RegisterBeacon(rForm2.value)" >
                          <h1>Beacon Details</h1>
                          <p class="text-muted">Enter Vaccine Details</p>
      
                          <!--IF ERROR-->
                        <div class="text-center text-danger">
                          <div *ngIf="beaconerror != '' " class="alert-danger alert">{{beaconerror}}</div>
                        </div>
        
                        <!--IF SUCCESS-->
                        <div class="text-center text-success">
                          <div *ngIf="beaconmessage != '' " class="alert-success alert">{{beaconmessage}}</div>
                        </div>
      
                          <div class="form-group">
                            <label for="beaconID">BeaconID</label>
                            <input type="text" class="form-control" placeholder="BeaconID" autocomplete="beaconID" formControlName="beaconID" required>
                            <div *ngIf="!rForm2.controls['beaconID'].valid && rForm2.controls['beaconID'].touched" class="alert1"> BeaconID is Required!</div>
                          </div>
      
                          <div class="form-group">
                            <label for="manufacturer">Manufacturer</label>
                            <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer" formControlName="manufacturer" required>
                             <div *ngIf="!rForm2.controls['manufacturer'].valid && rForm2.controls['manufacturer'].touched" class="alert1"> Manufacturer is Required!</div>
                          </div>
                     
                          <div class="row">
                            <div class="col-6">
                              <button type="submit" class="btn btn-primary px-4" [disabled]="loading1"  [disabled]="!rForm2.valid" >Submit</button>
                             <div class="loading-right">
                              <img *ngIf="loading1" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            </div>
                          </div>
              
                        </form>
                      </div>
                    </div>
              </div>

              <div class="tab-pane fade" id="pills-driver" role="tabpanel" aria-labelledby="pills-driver-tab">
                  <div class="card text">
                      <div class="card-header text-center">
                        <strong>Driver</strong>
                        <small> Form</small>
                      </div>
                      <div class="card-body">
                        <form [formGroup]="rForm3" (ngSubmit)="RegisterDriver(rForm3.value)" >
                          <h1>Driver Details</h1>
                          <p class="text-muted"> Enter Driver Details</p>
      
                          <!--IF ERROR-->
                        <div class="text-center text-danger">
                          <div *ngIf="drivererror != '' " class="alert-danger alert">{{drivererror}}</div>
                        </div>
        
                        <!--IF SUCCESS-->
                        <div class="text-center text-success">
                          <div *ngIf="drivermessage != '' " class="alert-success alert">{{drivermessage}}</div>
                        </div>
      
                          <div class="form-group">
                            <label for="DriverID">DriverID</label>
                            <input type="text" class="form-control" id="driverID" placeholder="DriverID" formControlName="driverID" required>
                            <div *ngIf="!rForm3.controls['driverID'].valid && rForm3.controls['driverID'].touched" class="alert1"> DriverID is Required!</div>
                          </div>
      
                          <div class="form-group">
                            <label for="location">NationalID</label>
                            <input type="text" class="form-control" id="nationalID" placeholder="NationalID" formControlName="nationalID" required>
                             <div *ngIf="!rForm3.controls['nationalID'].valid && rForm3.controls['nationalID'].touched" class="alert1"> NationalID is Required!</div>
                          </div>

                          <div class="form-group">
                              <label for="location">Company</label>
                              <input type="text" class="form-control" id="company" placeholder="Company" formControlName="company" required>
                               <div *ngIf="!rForm3.controls['company'].valid && rForm3.controls['company'].touched" class="alert1"> Company is Required!</div>
                            </div>

                          <div class="form-group">
                              <label for="location">First Name</label>
                              <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="fname" required>
                               <div *ngIf="!rForm3.controls['fname'].valid && rForm3.controls['fname'].touched" class="alert1"> First Name is Required!</div>
                            </div>

                            <div class="form-group">
                                <label for="location">Last Name</label>
                                <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lname" required>
                                 <div *ngIf="!rForm3.controls['lname'].valid && rForm3.controls['lname'].touched" class="alert1"> Last Name is Required!</div>
                              </div>
                     
                          <div class="row">
                            <div class="col-6">
                              <button type="submit" class="btn btn-primary px-4" [disabled]="loading2"  [disabled]="!rForm3.valid" >Submit</button>
                             <div class="loading-right">
                              <img *ngIf="loading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            </div>
                          </div>
              
                        </form>
                      </div>
                    </div>
              </div>

              <div class="tab-pane fade" id="pills-warehouse" role="tabpanel" aria-labelledby="pills-warehouse-tab">
                <div class="card text">
                  <div class="card-header text-center">
                    <strong>WareHouse</strong>
                    <small> Storage facility</small>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="rForm4" (ngSubmit)="RegisterWarehouse(rForm4.value)">
                      <h1>Store Details</h1>
                      <p class="text-muted">Choose Store Level</p>
                      <!--IF ERROR-->
                    <div class="text-center text-danger">
                      <div *ngIf="storeerror != '' " class="alert-danger alert">{{storeerror}}</div>
                    </div>
    
                    <!--IF SUCCESS-->
                    <div class="text-center text-success">
                      <div *ngIf="storemessage != '' " class="alert-success alert">{{storemessage}}</div>
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-chart"></i></span>
                        </div>
                        <select class="form-control" placeholder="Choose Store department" autocomplete="department" formControlName="department" required>
                          <option value="">Choose</option>
                          <option value="national">National</option>
                          <option value="regional">Regional</option>
                          <option value="subcounty">Sub County</option>
                          <option value="healthFacility">Health Facility</option>
                        </select>
                        <div *ngIf="!rForm4.controls['department'].valid && rForm4.controls['department'].touched" class="alert1"> Department is Required!</div>
                      </div>
                     
                      <div class="form-group">
                        <label for="store">Store Name</label>
                        <input type="text" class="form-control" id="store" placeholder="Enter store name" formControlName="storename" required>
                         <div *ngIf="!rForm4.controls['storename'].valid && rForm4.controls['storename'].touched" class="alert1"> Store Name is Required!</div>
                      </div>
                      
                      <div class="form-group">
                        <label for="capacity">Capacity</label>
                        <input type="text" class="form-control" id="capacity" placeholder="Enter capacity Details" formControlName="capacity" required>
                         <div *ngIf="!rForm4.controls['capacity'].valid && rForm4.controls['capacity'].touched" class="alert1"> Capacity is Required!</div>
                      </div>
                      
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location" required>
                         <div *ngIf="!rForm4.controls['location'].valid && rForm4.controls['location'].touched" class="alert1"> Location is Required!</div>
                      </div>
                    
                      <div class="row">
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4" [disabled]="loading3"  [disabled]="!rForm4.valid" >Submit</button>
                         <div class="loading-right">
                          <img *ngIf="loading3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                        </div>
                      </div>
          
                    </form>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="pills-transit" role="tabpanel" aria-labelledby="pills-transit-tab">
                  <div class="card text">
                    <div class="card-header text-center">
                      <strong>Transit</strong>
                      <small> Transport Vaccins</small>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="rForm5" (ngSubmit)="AssignTransit(rForm4.value)">
                        <h1>Transport Details</h1>
                        <p class="text-muted">Enter Transport Details</p>
                        <!--IF ERROR-->
                      <div class="text-center text-danger">
                        <div *ngIf="transiterror != '' " class="alert-danger alert">{{transiterror}}</div>
                      </div>
      
                      <!--IF SUCCESS-->
                      <div class="text-center text-success">
                        <div *ngIf="transitmessage != '' " class="alert-success alert">{{transitmessage}}</div>
                      </div>
  
                      <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-chart"></i></span>
                          </div>
                          <select class="form-control" placeholder="Choose Beacons" autocomplete="beacons" formControlName="beacons" required>
                            <option value="">Choose Beacons</option>
                            <option value="" *ngFor="let item of beacondata">{{item}}</option>
                          </select>
                          <div *ngIf="!rForm5.controls['beacons'].valid && rForm5.controls['beacons'].touched" class="alert1"> Beacon is Required!</div>
                        </div>
                       
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-chart"></i></span>
                            </div>
                            <select class="form-control" placeholder="Choose Pickup" formControlName="pickup" required>
                              <option value="">Choose Pickup</option>
                              <option value="" *ngFor="let item of warehousedata">{{item}}</option>
                            </select>
                            <div *ngIf="!rForm5.controls['pickup'].valid && rForm5.controls['pickup'].touched" class="alert1"> Pickup is Required!</div>
                          </div>
                        
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-chart"></i></span>
                            </div>
                            <select class="form-control" placeholder="Choose Destination" formControlName="destination" required>
                              <option value="">Choose Destination</option>
                              <option value="" *ngFor="let item of warehousedata">{{item}}</option>
                            </select>
                            <div *ngIf="!rForm5.controls['destination'].valid && rForm5.controls['destination'].touched" class="alert1"> Destination is Required!</div>
                          </div>
                        
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-chart"></i></span>
                            </div>
                            <select class="form-control" placeholder="Choose Drivers"  formControlName="driver" required>
                              <option value="">Choose Drivers</option>
                              <option value="" *ngFor="let item of driverdata">{{item}}</option>
                            </select>
                            <div *ngIf="!rForm5.controls['driver'].valid && rForm5.controls['driver'].touched" class="alert1"> Driver is Required!</div>
                          </div>
                      
                        <div class="row">
                          <div class="col-6">
                            <button type="submit" class="btn btn-primary px-4" [disabled]="loading4"  [disabled]="!rForm5.valid" >Submit</button>
                           <div class="loading-right">
                            <img *ngIf="loading4" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          </div>
                          </div>
                        </div>
            
                      </form>
                    </div>
                  </div>
                </div>

               <div class="tab-pane fade" id="pills-vaccineStatus" role="tabpanel" aria-labelledby="pills-vaccineStatus-tab">
                  <div class="card text">
                  <div class="card-header text-center">
                    <strong>Vaccine</strong>
                    <small> Status At Each Level With Tests & Remarks</small>
                  </div>
                  <div class="card-body">

                  <div class="container-note">
                       <!--IF ERROR-->
                       <div class="text-center text-danger">
                          <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                      </div>

                      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                          <thead>
                          <tr>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="batchID">BatchID</mfDefaultSorter>
                              </th>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="beaconID">BeaconID</mfDefaultSorter>
                              </th>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="status">Status</mfDefaultSorter>
                              </th>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="antigenType">AntigenType</mfDefaultSorter>
                              </th>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="condition">Good</mfDefaultSorter>
                              </th>
                              <th style="width: 17%">
                                  <mfDefaultSorter by="remarks">Test&Remarks</mfDefaultSorter>
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of mf.data">
                              <td>{{item.batchID}}</td>
                              <td>{{item.beaconID}}</td>
                              <td>{{item.state}}</td>
                              <td>{{item.antigenType}}</td>
                              <td>{{item.condition}}</td>
                              <td>
                                  <button class = "btn btn-danger px-4" type="button" (click) = "enroll(item.email)">Enroll</button>
                              </td>
                          </tr> 

                          <div class="loading-right">
                              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                           </div>
                          
                          </tbody>
                          <tfoot>
                          <tr>
                              <td colspan="4">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                      </table>
                   </div>
              
                  </div>
                </div>
               </div>
            </div>
    </div>
   </div>
  </div>
</div>
  
  