<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 col-md-offset-12">
        <div class="col-md-6 mb-4">
          <!-- Nav tabs -->
          <tabset>
            
            <tab heading="Register vaccine">
              <div class="card text">
                <div class="card-header text-center">
                  <strong>Vaccine</strong>
                  <small> Form</small>
                </div>
                <div class="card-body">
                  <form  >
                    <h1>Vaccine Details</h1>
                    <p class="text-muted">Enter Vaccine Details</p>
                    <!--IF ERROR-->
                  <!-- <div class="text-center text-danger">
                    <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                  </div> -->
  
                  <!--IF SUCCESS-->
                  <!-- <div class="text-center text-success">
                    <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                  </div> -->
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="batchID">BatchID</label>
                      <input type="text" class="form-control" id="batchID" placeholder="Enter BatchID">
                      <!-- <div *ngIf="!rForm.controls['batchID'].valid && rForm.controls['batchID'].touched" class="alert1"> bBtchID is Required!</div> -->
                    </div>
      
                    <div class="form-group col-sm-4">
                    <div class="col-md-4">
                      <label for="batchID">Scan</label>
                      <input type="button" class="btn btn-primary px-4" value="Scan QRcode">
                      
                    </div>
                    <!-- <div class="col-md-4">
                        <label for="batchID">Query</label>
                        <input type="button" class="btn btn-primary px-4" value="Query Vaccine">
                        
                        
                      </div> -->
                    
                    </div>
                  </div><!--/.row-->
                    <div class="form-group">
                      <label for="antigenType">AntigenType</label>
                      <input type="text" class="form-control" id="antigenType" aria-describedby="antigenType" placeholder="Enter AntigenType">
                       <!-- <div *ngIf="!rForm.controls['antigenType'].valid && rForm.controls['antigenType'].touched" class="alert1"> Vaccine Type is Required!</div> -->
                    </div>
                  </div><!--/.row-->
                  <div class="form-group">
                    <label for="doses">Doses/Vials</label>
                    <input type="text" class="form-control" id="doses" aria-describedby="doses" placeholder="Enter Amount of doses in the Batch">
                     <!-- <div *ngIf="!rForm.controls['doses'].valid && rForm.controls['doses'].touched" class="alert1"> Vaccine Type is Required!</div> -->
                  </div>
                  
                    
                    <div class="form-group">
                      <label for="manufacturer">Manufacturer</label>
                      <input type="text" class="form-control" id="manufacturer" placeholder="Enter Manufacturer's Details">
                       <!-- <div *ngIf="!rForm.controls['manufacturer'].valid && rForm.controls['manufacturer'].touched" class="alert1"> Manufacturer is Required!</div> -->
                      
                    </div>
                    <div class="form-group ">
                            <label for="expirydate">Expiry Date</label>
                            <input type="text" class="form-control" id="expirydate" placeholder="Enter the batch expiry date">
                     </div>
                    <div class="form-group">
                      <label for="beaconID">BeaconID</label>
                      <input type="text" class="form-control" placeholder="BeaconID" autocomplete="beaconID" formControlName="beaconID" required>
                      
                      <!-- <div *ngIf="!rForm.controls['beaconID'].valid && rForm.controls['beaconID'].touched" class="alert1"> BatchID is Required!</div> -->
                      
  
                    </div>
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input type="text" class="form-control" id="location" placeholder="Location">
                       <!-- <div *ngIf="!rForm.controls['location'].valid && rForm.controls['location'].touched" class="alert1"> Location is Required!</div> -->
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" class="form-control" id="description" placeholder="Extra Info">
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="temperature">Temperature</label>
                        <input type="text" class="form-control" id="temperature" placeholder="Enter Temperature">
                        <!-- <div *ngIf="!rForm.controls['temperature'].valid && rForm.controls['temperature'].touched" class="alert1"> Temperature is Required!</div> -->
                      </div>
        
                      <div class="form-group col-sm-6">
                      <div class="col-md-6">
                        <label for="temperature">Live Temp</label>
                        <input type="button" class="btn btn-primary px-4" value="get temp">
                        
                      </div>
  
                      </div>
                    </div><!--/.row-->
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-chart"></i></span>
                      </div>
                      <select class="form-control" placeholder="Vaccine state" autocomplete="location" formControlName="state" required>
                        <option value="">Choose</option>
                        <option value="storage">Storage</option>
                        <option value="transit">Transit</option>
                        <option value="administer">Administer</option>
                        <option value="waste">Wastage</option>
                      </select>
                      <!-- <div *ngIf="!rForm.controls['state'].valid && rForm.controls['state'].touched" class="alert1"> Vaccine State is Required!</div> -->
                    </div>
                    <!-- <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">Register Vaccine</button>
                    <div class="loading-right">
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div> -->
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="loading"  [disabled]="!rForm.valid" >Submit</button>
                      </div>
                    </div>
        
                  </form>
                </div>
              </div>
            </tab>
           
            <tab heading="Report on Wastages">
              <div class="card text">
                <div class="card-header text-center">
                  <strong>Vaccine</strong>
                  <small> Form</small>
                </div>
                <div class="card-body">
                  <form  >
                    <h1>Vaccine Details</h1>
                    <p class="text-muted">Enter Vaccine Details</p>
                    <!--IF ERROR-->
                  <!-- <div class="text-center text-danger">
                    <div *ngIf="error != '' " class="alert-danger alert">{{error}}</div>
                  </div> -->
  
                  <!--IF SUCCESS-->
                  <!-- <div class="text-center text-success">
                    <div *ngIf="message != '' " class="alert-success alert">{{message}}</div>
                  </div> -->
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="batchID">BatchID</label>
                      <input type="text" class="form-control" id="batchID" placeholder="Enter BatchID">
                      <!-- <div *ngIf="!rForm.controls['batchID'].valid && rForm.controls['batchID'].touched" class="alert1"> bBtchID is Required!</div> -->
                    </div>
      
                    <div class="form-group col-sm-4">
                    <div class="col-md-4">
                      <label for="batchID">Query</label>
                      <input type="button" class="btn btn-primary px-4" value="Scan QRcode">
                      
                    </div>
                    <!-- <div class="col-md-4">
                        <label for="batchID">Query</label>
                        <input type="button" class="btn btn-primary px-4" value="Query Vaccine">
                        
                        
                      </div> -->
                    
  
                    </div>
                  </div><!--/.row-->
                    <div class="form-group">
                      <label for="antigenType">AntigenType</label>
                      <input type="text" class="form-control" id="antigenType" aria-describedby="antigenType" placeholder="Enter AntigenType">
                       <!-- <div *ngIf="!rForm.controls['antigenType'].valid && rForm.controls['antigenType'].touched" class="alert1"> Vaccine Type is Required!</div> -->
                    </div>
                  </div><!--/.row-->
                  <div class="form-group">
                    <label for="doses">Doses/Vials</label>
                    <input type="text" class="form-control" id="doses" aria-describedby="doses" placeholder="Enter Amount of doses in the Batch">
                     <!-- <div *ngIf="!rForm.controls['doses'].valid && rForm.controls['doses'].touched" class="alert1"> Vaccine Type is Required!</div> -->
                  </div>
                  
                    
                    <div class="form-group">
                      <label for="manufacturer">Manufacturer</label>
                      <input type="text" class="form-control" id="manufacturer" placeholder="Enter Manufacturer's Details">
                       <!-- <div *ngIf="!rForm.controls['manufacturer'].valid && rForm.controls['manufacturer'].touched" class="alert1"> Manufacturer is Required!</div> -->
                      
                    </div>
                    <div class="form-group ">
                            <label for="expirydate">Expiry Date</label>
                            <input type="text" class="form-control" id="expirydate" placeholder="Enter the batch expiry date">
                     </div>
                    <div class="form-group">
                      <label for="beaconID">BeaconID</label>
                      <input type="text" class="form-control" placeholder="BeaconID" autocomplete="beaconID" formControlName="beaconID" required>
                      
                      <!-- <div *ngIf="!rForm.controls['beaconID'].valid && rForm.controls['beaconID'].touched" class="alert1"> BatchID is Required!</div> -->
                      
  
                    </div>
                    
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" class="form-control" id="description" placeholder="Extra Info">
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="temperature">Temperature</label>
                        <input type="text" class="form-control" id="temperature" placeholder="Enter Temperature">
                        <!-- <div *ngIf="!rForm.controls['temperature'].valid && rForm.controls['temperature'].touched" class="alert1"> Temperature is Required!</div> -->
                      </div>
        
                      <div class="form-group col-sm-6">
                      <div class="col-md-6">
                        <label for="temperature">Live Temp</label>
                        <input type="button" class="btn btn-primary px-4" value="get temp">
                        
                      </div>
  
                      </div>
                    </div><!--/.row-->
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-chart"></i></span>
                      </div>
                      <select class="form-control" placeholder="Vaccine state" autocomplete="location" formControlName="state" required>
                        <option value="">Choose</option>
                        <option value="good">Good</option>
                        <option value="waste">Wastage</option>
                      </select>
                      <!-- <div *ngIf="!rForm.controls['state'].valid && rForm.controls['state'].touched" class="alert1"> Vaccine State is Required!</div> -->
                    </div>
                    <!-- <button [disabled]="loading" [disabled]="!rForm.valid" type="submit" class="btn btn-block btn-success">Register Vaccine</button>
                    <div class="loading-right">
                      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div> -->
                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="loading"  [disabled]="!rForm.valid" >Submit</button>
                      </div>
                    </div>
        
                  </form>
                </div>
              </div>
            </tab> 
           
          </tabset>
        </div><!--/.col-->
        <div class="col-md-6 mb-4">
        
      </div><!--/.col-->
    </div>
  </div>
  
  